<div id="huntEditor">
    <div ngf-drop ngf-select ng-model="files" class="drop-box" 
        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true" ngf-keep="true" ngf-keep-distinct="true"
        accept="image/*,application/pdf" 
        ngf-pattern="'image/*,application/pdf'">Drop documents or images here or click to upload</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    Files:
    <ul>
      <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    </ul>
    <div class="preview">
      <div>Preview: </div>
      <div ng-repeat="file in files">
      <img ngf-src="!file.$error && file" ng-click="remove(file)" />
      </div>
    </div>
    <input type="button" value="Upload" ng-click="upload(files)">
    <a href='/addSingleNode'>Add Single Node</a>
</div>