
<form ng-controller="AboutCtrl as ctrl" id="aboutPage" ng-init="ctrl.developers()">
  <div>
  <h2>Meet the developers & check their scores...</h2>
    <div class="developer" ng-repeat="creator in ctrl.creators">
      <p class="aboutText">{{creator.name}}</p>
      <img class="profilePic" ng-src="{{creator.img}}"/></a>
      <p class="aboutText">{{creator.position}}</p>
      <p>Score: {{creator.macadamia}}</p>
      <a href="{{creator.linkedin}}"><img class="linkedinIcon" src="img/linkedin.png"/>
      <a href="{{creator.github}}"><img class="githubIcon" src="img/github.png"/></a>
    </div>
  </div>
</form>

<!-- class="col-xs-12 col-md-8" -->