<div id="singleNode" >
  <div class="container" style="text-align: center">
<!--     <img id="image-upload-thumbnail" ng-show="file" ngf-src="file" ng-model="file" ngf-resize="{width: 500, height: 500, quality: .8}" name="file" accept="image/*"> -->
<!--     <div id="image-upload-placeholder" ng-show="!file">
      <button class="btn btn-large btn-primary" id="btn-upload-photo"
        type="file" ngf-select ngf-resize="{width: 500, height: 500, quality: .8}"
        ng-model="file" name="file" accept="image/*">Take Photo <span class="glyphicon glyphicon-camera"></span></button>
    </div> -->
    <canvas id="canvas" ng-click="getFile()" ng-init="drawInitial()">
    </canvas>
    <input type="file" id="fileInput" fileread="file" style="display: none;" />
    <div id="photo-options">
      <button class="btn btn-info clearfix" ng-click="getFile()"><span class=" glyphicon glyphicon-camera"></span></button>      
      <button class="btn btn-info clearfix" data-toggle="modal" data-target="#cropModal"><span class="glyphicon glyphicon-scissors"></span></button>
      <button class="btn btn-info clearfix" ng-click="rotateCW()"><span class=" glyphicon glyphicon-repeat"></span></button>
      <button class="btn btn-info clearfix" ng-click="rotateCCW()"><span class=" glyphicon glyphicon-repeat icon-flipped"></span></button>
      <button class="btn btn-info clearfix" ng-click="getManualLocation()"><span class="glyphicon glyphicon-map-marker"></span></button>

    </div>
    <!-- Button for rotating image -->
<!--     <button class="btn btn-md btn-default" ng-if="file"><span ng-if="file" class="glyphicon glyphicon-repeat"></span></button>
         -->
    <textarea id="clue-textarea" ng-model="clue" placeholder="Clue or description..."></textarea>
    <button class="btn btn-md btn-info" ng-show="status.canUpload" ng-disabled="!(canSend && file)" ng-click="send()">Save</button>
    <button class="btn btn-md btn-info" ng-show="status.canUpload" ng-disabled="!file" ng-click="send()">Add</button>
    <button ng-show="!status.canUpload">Waiting for location...</button>
    <button class="btn btn-md btn-success" ng-disabled="!file" ng-click="done()">I'm Done!</button>
    <center>
    <div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="cropModal" aria-hidden="true">
      <div class="cropArea">
        <img-crop image="file" result-image="myCroppedImage" area-type="square" result-image-size="500" on-load-done="simClick()"></img-crop>
      </div>
      <button ng-click="crop()" class="glyphicon glyphicon-ok btn btn-default">Crop</button>
    </div>
  </div>
</div>
