<div id='create' ng-controller="CreateCtrl as c" ng-init="c.getAuthState()">
  <div class="container">
  <h2 class="view-header">Create a new hunt</h2>

  <form name="createGameForm" ng-submit="c.createGame(gameName, gameDescription, makeGamePrivate)" novalidate>
    <!-- Game Name -->
    <div class="form-group" ng-class=" { 'has-error' : createGameForm.gameName.$invalid && !createGameForm.gameName.$pristine }">
      <label>Game Name</label>
      <input type="text" name="gameName" class="form-control" ng-model="gameName" autofocus required>
      <p ng-show="createGameForm.gameName.$invalid && !createGameForm.gameName.$pristine" class="help-block">Game name is required.</p>
    </div>

    <!-- Hunt Description -->
    <div class="form-group" ng-class="{ 'has-error': createGameForm.gameDescription.$invalid && !createGameForm.gameDescription.$pristine }">
      <label>Describe your hunt</label>
      <textarea type="text" rows="5" class="form-control" ng-model="gameDescription" required></textarea>
     <p ng-show="createGameForm.gameDescription.$invalid && !createGameForm.gameDescription.$pristine" class="help-block">Game description is required.</p>
    </div>

    <!-- Option to make game private (game will not display on public games listing) -->
    <div class="form-group" ng-if="c.getAuthState()">
      <label>Make Game Private? </label><input type="checkbox" ng-model="makeGamePrivate"><br>
    </div>
    <div style="text-align: center">
      <button type="submit" class="btn btn-lg btn-success" ng-disabled="createGameForm.$invalid">Submit</button>  
    </div>
  </form>
  </div>
</div>

<!-- <div id='create' ng-controller="CreateCtrl">
  <div class="container" style="text-align: center">
  <h2 class="view-header">Create a new hunt</h2>
    <table>
      <tr>
        <td align="left">Game Name</td>
        <td class="td-input"><input type="text" ng-model="gameName" autofocus></td>
      </tr>
      <tr><td><br></td></tr>
      <tr>
        <td id="td-game-name" align="right">Description </td>
        <td class="td-input"><textarea rows="5" valign="top" ng-model="gameDescription"></textarea></td>
      </tr>
    </table>  
    
    <button id="create-game-submit-info" class="btn btn-primary" ng-disabled="gameDescription" ng-click="createGame(gameName, gameDescription)">Submit</button>  
  </div>
</div> -->