<div id='create' ng-controller="CreateCtrl">
  <div class="container" style="text-align: center">
  <h2 id="create-hunt-title">Create a new hunt</h2>
    <table>
      <tr>
        <td align="right">Game Name </td>
        <td class="td-input"><input type="text" ng-model="gameName"></td>
      </tr>
      <tr><td><br></td></tr>
      <tr>
        <td align="right">Description </td>
        <td class="td-input"><textarea ng-model="gameDescription"></textarea></td>
      </tr>
    </table>  
    
    <button id="create-game-submit-info" class="btn btn-primary" ng-click="createGame(gameName, gameDescription)">Submit</button>  
  </div>
</div>