<div class="container edit-game-nodes" ng-init="getGame()" style="padding-bottom: 70px; padding-top: 15px">
<h1 class="view-header" style="word-wrap: break-word">{{ gameToEdit.name | uppercase}}</h1>

<!-- EDIT GAME ROW ENTRY -->
<div class="edit-game-row">
  <div class="edit-game-row"></div>
  <div class="well fx-fade-down-big fx-speed-2000" ng-repeat="node in gameToEdit.nodes">
    <img class="edit-game-img" ng-src="{{node.image}}" alt="" style="float: left">

  <div class="change-node-position">
    <span class="glyphicon glyphicon-arrow-up edit-game-move-arrow" style="font-size: 3em;" ng-click="moveNodeUp(node)" ng-disable="nodeCantBeMoved(node, 'up')"></span>
    <span class="glyphicon glyphicon-arrow-down edit-game-move-arrow" style="font-size: 3em;" ng-click="moveNodeDown(node)" ng-disable="nodeCantBeMoved(node, 'down')"></span>
    <span id="edit-game-remove-btn" class="glyphicon glyphicon-remove-circle" ng-click="removeNode(node)"></span>
    
  </div>
  <div style="clear: both;">{{ node.clue }}</div>
</div>


</div>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid" style="text-align: center">
      <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
          <button ng-click="cancel()" class="btn btn-lg btn-success">Cancel</button>
          <button ng-click="updateGame()" class="btn btn-lg btn-success">Submit</button>
          <button ng-click="addNode()" class="btn btn-lg btn-warning">Add Node</button>
        </ul>

    </div><!-- /.container-fluid -->
  </nav>
</div>