<div class="container game-list" ng-init='getAllGames()'>
  <input id="games-search-input" class="search-bar" style="width: 100%" ng-model="searchGame" placeholder="Search games" autofocus>

  <div class="game-list-item clearfix" ng-repeat="game in games | filter:searchGame">
    <div class="game-list-item-body clearfix">
    <div class="game-list-item-title" style="word-wrap: break-word"><h2>{{game.gameName | uppercase}}</h2></div>
      <img class="game-list-item-image"  ng-if="game.image" ng-src="{{game.image}}">
      <div class="game-list-item-details">
        <p class="game-list-item-field-description"># of Checkpoints: </p><p class="game-list-item-field-value">{{game.nodeCount}}</p>
        <p class="game-list-item-field-description" ng-if="game.numOfRatings">Rating: {{game.avgRating}} stars out of {{game.numOfRatings}} reviews</p>
        <p class="game-list-item-field-description" ng-if="game.numOfRatings===0">Rating: </p><p class="game-list-item-field-value">N/A</p>
        <p class="game-list-item-field-description">Created on: </p><p class="game-list-item-field-value">{{game.createdDate}}</p>
      </div>         
    </div>
    <div class="game-list-item-description">
      <p>Game Description:</p>
      <p>{{game.description}}</p>        
    </div>
  <div class="btn-join-game-container">      
    <button class="btn-join-game btn btn-md btn-info" ng-click="gameInfo(game.gameId)">Game Details</button>      
  </div>
  </div>
</div>