<div class="container" id="gameInfo" ng-init="startGame()">
  <h1 class="view-header">{{ game.gameName }}</h1>
  <img id="game-info-img" ng-src="{{game.image}}"/>
  <div id="game-info-details">
    <div id="game-info-list">
        <div>Game Description: {{game.description}}</div>
        <div># of Checkpoints: {{game.nodeCount}}</div>
        <div>Created Date: {{game.createdDate}}</div>
        <div ng-if="game.numOfRatings>0">Rating: {{game.avgRating}} {{game.numOfRatings}} reviews</div>
        <div ng-if="game.numOfRatings===0">Rating: no reviews</div>
    </div>    
  </div>

  <div class="btn-start-game">
    <button ng-click="playGame()" class="btn btn-lg btn-primary">Start Game</button>
  </div>
</div>