<div style="text-align: center" id="initial">
  <p>Welcome to Squirrel Search, a mobile-first web application which allows you to create and play scavenger hunts using your phone's camera to upload photo clues for your friends to follow. To begin, create your own game or join one of our existing games.</p><br>
  <button type="button" class="btn btn-primary btn-lg" id="join-btn" ng-click="join()">Join Game</button>
  <div></div>
  <button type="button" class="btn btn-primary btn-lg" ng-click="create()">Create Game</button>
</div>