<div ng-init="getLeaders();">
  <div class="container">
  <table class="table table-striped table-bordered table-hover" id='leader'>
    <thead>
      <tr>
        <th> Rank </th>
        <th> Username </th>
        <th> Points </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="leader in leaders track by $index" ng-click="userProfile(leader.userName)" >
        <td><span ng-if="$index>0">{{$index + 1}}</span><img ng-src='{{gold}}' style="width:30px;height:30px;" ng-if="$index===0"></td>
        <td>{{leader.userName}}</td>
        <td>{{leader.macadamia}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>