<div id='invite' ng-controller="InviteCtrl">
  <div>
    <div id=class="container" style="text-align: center">
      <h3 id="invite-players-header">Invite players</h3>
      <input id="email_field" type="text" ng-model="inviteeEmailAddress">
      <button id="invite-add-email-btn" ng-click="addToEmailList(inviteeEmailAddress)">Add Email</button>
      <button id="send-invites-btn" class="btn btn-primary center-block" ng-click="sendInvites()">Send Invites</button>
    </div>
  </div>
  <br>

  <div class="email-well" ng-repeat="email in invitees">
    <p class="email">{{ email }}</p>
    <a class="remove" ng-click="remove(email)">X</a>
  </div>

</div>